html {
	scroll-behavior: smooth;
}

* {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	font-family: $fontFamily;
	color: $fontColor;
	font-size: $fontSize;

	@include atSmall {
		font-size: $fontSmallSize;
	}

	@include atMedium {
		font-size: $fontMediumSize;
	}

	@include atLarge {
		font-size: $fontLargeSize;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
    color: $linkColor;
    background-color: $linkBgColor;
}

a:hover {
    color: $linkHoverColor;
    background-color: $linkHoverBgColor;
}

ul {
	list-style: none;
}

#container {
	width: 100%;
	max-width: $maxContainerWidth;
	margin: 0 auto;
}