%btn{
    color: $btnTextColor;
    border-radius: $btnBorderRadius;
    padding: $btnPadding;
    cursor: pointer;
    font-size: $fontSize;

	@include atSmall {
		font-size: $fontSmallSize;
	}

	@include atMedium {
		font-size: $fontMediumSize;
	}

	@include atLarge {
		font-size: $fontLargeSize;
	}

    &:hover {
        background-color: $btnColorHover;
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primaryColor;
}

.btn-secondary {
    @extend %btn;
    background-color: $secondaryColor;
}

.btn-third {
    @extend %btn;
    background-color: $thirdColor;
}

.btn-fourth {
    @extend %btn;
    background-color: $fourthColor;
}

.btn-success {
    @extend %btn;
    background-color: $successColor;
}

.btn-warning {
    @extend %btn;
    background-color: $warningColor;
}

.btn-large {
    width: $btnLarge;

    @include atSmall {
		width: $btnSmallSizeLarge;
	}

	@include atMedium {
		width: $btnMediumSizeLarge;
	}

	@include atLarge {
		width: $btnLargeSizeLarge;
	}
}

.btn-medium {
    width: $btnMedium;

    @include atSmall {
		width: $btnSmallSizeMedium;
	}

	@include atMedium {
		width: $btnMediumSizeMedium;
	}

	@include atLarge {
		width: $btnLargeSizeMedium;
	}
}

.btn-small {
    width: $btnSmall;

    @include atSmall {
		width: $btnSmallSizeSmall;
	}

	@include atMedium {
		width: $btnMediumSizeSmall;
	}

	@include atLarge {
		width: $btnLargeSizeSmall;
	}
}