@each $height in $boxHeighs {
    .box-#{$height} {
        height: $height px;
    }
}

.box {
    &-full {
        height: 100vh;
    }

    &-half {
        height: 50vh;
    }

    &-oneFourth {
        height: 25vh;
    }

    &-threeFourth {
        height: 75vh;
    }

    &-oneThird {
        height: 33.33333333vh;
    }

    &-twoThird {
        height: 66.66666666vh;
    }
}