.hover-text-primary:hover {
    color: $primaryColor;
}

.hover-text-secondary:hover {
    color: $secondaryColor;
}

.hover-text-third:hover {
    color: $thirdColor;
}

.hover-text-fourth:hover {
    color: $fourthColor;
}

.hover-bg-primary:hover {
    background-color: $primaryColor;
}

.hover-bg-secondary:hover {
    background-color: $secondaryColor;
}

.hover-bg-third:hover {
    background-color: $thirdColor;
}

.hover-bg-fourth:hover {
    background-color: $fourthColor;
}