%mob-menu-icon {
    width: $mobIconWidth;
    height: $mobIconHeight;
    background-color: $mobIconBgColor;
    display: block;
    border-radius: $mobIconBorderRadius;
}

.menu-mob-icon {
    @extend %mob-menu-icon;
    position: relative;
}

.menu-mob-icon::before {
    content: "";
    @extend %mob-menu-icon;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-$mobIconSpace);
}

.menu-mob-icon::after {
    content: "";
    @extend %mob-menu-icon;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY($mobIconSpace);
}

.menu-mob-hr {
    opacity: 0;
    transform: translateX(100%);
    transition: all ease-in .3s;

}

.menu-mob-hr-active {
    opacity: 1;
    transform: translateX(0);
}